body {
    background-image: url(../images/backgroundForest.JPG);
    background-color: #353918;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    color: white;
}

.title {
    background-color: #164964;
    height: 100px;
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Uncial Antiqua', cursive;
    
}

h1 {
    line-height: 2em;
    text-align: center;
    padding: 10px 20px;
    font-size: 2em;
}

.instructions {
    background-color: #166431;
    height: 350px;
    width: 600px;
    margin-left: 20px;
    margin-top: 10px;
}

.instructions p {
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
    padding: 10px;
}

.scoreContainer {
    width: 600px;
    margin-left: 20px;
}

.winNum {
    background-color: #311664;;
    height: 100px;
    width: 225px;
    margin-top: 10px;
    padding-top: 10px;
    float: left;
}

.winNum #ranNum {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 3em;
    margin-left: 15px;
}

.winTotal {
    background-color: #641622;
    height: 100px;
    width: 200px;
    margin-top: 10px;
    position: absolute;
    left: 260px;
}

.winTotal p {
    font-size: 1.25em;
    font-family: 'Uncial Antiqua', cursive;
    line-height: 1.5em;
    margin-left: 15px;
}

.jewelContainer {
    clear: both;
    margin-left: 20px;
}

.jewelContainer img {
    width: 100px;
    margin-top: 10px;
    margin-right: 15px;
}

.totalScore {
    background-color: #645816;
    height: 50px;
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
}

.totalScore p {
    padding-top:10px;
    padding-left: 10px;
}

.scoreBox {
    background-color: #166458;
    height: 70px;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.scoreBox #scoreNum {
    font-size: 3em;
    font-family: 'Uncial Antiqua', cursive;
    line-height: 1.5em;
    margin-left: 15px;
}

